

.panel {
  border-radius: 0;
}
.nav-tabs>li>a {
  border-radius: 0 0 0 0;
  margin-right: 0;
}

.tab-pane{
  padding-top: 10px;
}
.tab-pane > .container:first-child {
  width: 100%;
}
span.badge > input[type="checkbox"] {
  margin-top: 0;
}
#tempChart , #speedChart {
  width: 100%!important;
  height: auto!important;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
